<div class="container">
   <div class="jumbotron">
 <h1>Quotes</h1>
 </div>
  <div *ngFor='let quote of quotes;let i=index'>
    <li id="{{i}}" appHighlight>{{quote.name}} due on {{quote.completeDate|date|uppercase}} </li> 
    <button class="btn btn-success" (click)='toogleDetails(i)'>Toogle Details</button>
    <div  *ngIf="quote.showDescription">
    <app-quote-details  [quote]='quote' (isDelete)='deleteQuote($event,i)'></app-quote-details>
    <button class="btn btn-success" (click)='upVote(i)'>upvote:{{quote.upvotes}}</button> 
    <button class="btn btn-warning" (click)='downVote(i)'>downvote:{{quote.downvotes}}</button>
    
  </div>
</div>


<p *ngIf='quotes.length > 3'>I have too many quotes</p>
 <app-quote-form (savequote)="addquote($event)"></app-quote-form> 
</div>
